* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #055153;
}

.freccia {
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

body {
  height: 200vh;
}

body::-webkit-scrollbar {
  display: none;
}
